<h1 mat-dialog-title>Add New User</h1>
<div mat-dialog-content>
  <mat-form-field [formControl]="name" ngDefaultControl>
    <mat-label>Name</mat-label>
    <input [(ngModel)]="model.name" matInput required>
  </mat-form-field>

  <div>
    <mat-label>Active?</mat-label>
    <mat-slide-toggle [(ngModel)]="model.active"></mat-slide-toggle>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Cancel</button>
  <button [disabled]="!name.valid" [mat-dialog-close]="model" mat-button>Add</button>
</div>
